@using natom.varadero.entities
@{ 
    Cliente cliente = (Cliente)ViewBag.Cliente;
}
@Html.Hidden("PedidoItemsCount")
<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Bootstrap-ecommerce by Vosidiy">

    <title>e-Varadero | @ViewBag.Title</title>

    <script src="/Resources/js/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="/Resources/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="/Resources/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/Resources/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
    <script src="/Resources/js/fancybox.min.js" type="text/javascript"></script>
    <link href="/Resources/css/fancybox.min.css" type="text/css" rel="stylesheet">
    <link href="/Resources/css/owl.theme.default.css" rel="stylesheet">
    <link href="/Resources/components/chosen/bootstrap-chosen.css" rel="stylesheet" />
    <script src="/Resources/js/ui.js" type="text/javascript"></script>
    <script src="/Resources/components/chosen/chosen.jquery.js"></script>
    <script src="/Resources/components/noty-2.4.1/js/noty/packaged/jquery.noty.packaged.min.js"></script>
    <script src="/Resources/js/varadero/carrito.min.js?v=@DateTime.Now.Ticks" type="text/javascript"></script>
    <script src="/Resources/js/varadero/ecommerce.min.js?v=@DateTime.Now.Ticks" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Carrito.ActualizarTotalizador();

            $(window).resize(function () {
                if ($(window).width() < 1460)
                    $("html").addClass("less-than-1460");
                else
                    $("html").removeClass("less-than-1460");
                if ($(window).width() > 1200)
                    $("html").addClass("more-than-1200");
                else
                    $("html").removeClass("more-than-1200");
            }).trigger("resize");
        });

        function CerrarPromocional() {
            $("html #transparencia").remove();
            $("html #promocional").remove();
            $("html #cerrar-promocional").remove();
        }

        function MostrarPromocional() {
            CerrarPromocional();
            $("html").append('<div id="transparencia" style="position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:9999998; background-color:rgba(0, 0, 0, 0.7)"></div>');
            $("html").append('<label id="cerrar-promocional" style="position:fixed; top:3%; left:50%;z-index:99999999; margin-left:-2rem; color:white; cursor:pointer; font-size:2rem;" onclick="CerrarPromocional()">CERRAR [ X ]</label>');
            $("html").append('<iframe id="promocional" height="87%" width="90%" style="position:fixed; margin:5% 5%; top:0px; left:0px; z-index:9999999; box-shadow:0px 0px 100rem #000" src="/Dashboard/GetPromocionalesContenido?v=' + new Date().getMilliseconds().toString() + '"></iframe>');
        }
    </script>
    <style type="text/css">
        /*.hiddenPrecioYDescuento {
            display: none;
        }*/
        .form-control.cantidad {
            width: 6rem !important;
        }
        #noty_topLeft_layout_container {
            margin-top:60px!important;
        }

        .promoVistaPrevia {
            top: 0;
            margin-top: -14px;
            margin-left: 9%;
            border: solid 1px #aaa;
            background-color:white;
        }

        .less-than-1460 .promoVistaPrevia {
            top: 75px;
            margin-top: -14px;
            margin-left: 0;
        }

        .less-than-1460.more-than-1200 .promoVistaPrevia {
            margin-left: 5%;
        }

        .less-than-1460 section.section-content:not(.carrito-botonera),
        .less-than-1460 section.section-main {
            padding-top: 80px;
        }
    </style>
</head>
<body style="">
    <header class="section-header">

        <section class="header-main shadow-sm">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-sm-3">
                        <div class="brand-wrap">
                            <a href="/eCommerce/Principal">
                                <img class="logo" src="/Resources/img/logo.png">
                            </a>
                        </div> <!-- brand-wrap.// -->
                        <div class="widget-header dropdown" hide-for-mobile="true" style="position: absolute;top: -5px;left: 220px;width: 160px;cursor:pointer;z-index:1;">
                            <a href="/eCommerce/DownloadListaPrecios">
                                <div class="icontext">
                                    <div class="icon-wrap"><i class="icon-sm round border fa fa-file-alt"></i></div>
                                    <div class="text-wrap">
                                        <small>DESCARGAR<br />LISTA DE PRECIOS</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-xl-9 col-sm-9">
                        @if (ViewBag.PromocionalesMostrarVistaPrevia == true)
                        {
                            <img class="promoVistaPrevia" src="/eCommerce/GetPromocionalesVistaPrevia?v=@(DateTime.Now.Ticks)" width="500" height="70" style="position: absolute; @(ViewBag.PromocionalesMostrarContenido == true ? "cursor:pointer;" : "")" onclick="@(ViewBag.PromocionalesMostrarContenido == true ? "MostrarPromocional()" : "")" />
                        }
                        <div class="widgets-wrap float-right">
                            @if (ViewBag.PedidoId != null)
                            {
                                <a href="javascript:Carrito.VerAbierto()" class="widget-header mr-3">
                                    <div class="icontext">
                                        <div class="icon-wrap"><i class="icon-sm round border fa fa-shopping-cart"></i></div>
                                        <div class="text-wrap">
                                            <span class="small badge badge-danger itemsCounter" style="display:none;"></span>
                                            <div hide-for-mobile>Ver carrito</div>
                                        </div>
                                    </div>
                                </a>
                            }
                            <div class="widget-header dropdown" hide-for-mobile="true">
                                <a href="" data-toggle="dropdown" data-offset="20,10">
                                    <div class="icontext">
                                        <div class="icon-wrap"><i class="icon-sm round border fa fa-dollar-sign"></i></div>
                                        <div class="text-wrap">
                                            <small>CRÉDITO</small>
                                            <div><label><b id="bSaldo">$ @cliente.GetSaldo().ToString("F").Replace(".", ",")</b></label></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="widget-header dropdown">
                                <a href="" data-toggle="dropdown" data-offset="20,10">
                                    <div class="icontext">
                                        <div class="icon-wrap"><i class="icon-sm round border fa fa-user"></i></div>
                                        <div class="text-wrap">
                                            <small hide-for-mobile>@cliente.NombreFantasia</small>
                                            <div><label hide-for-mobile>@cliente.NombreFantasia</label> <i class="fa fa-caret-down"></i> </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    @*<a class="dropdown-item" href="">Cambiar clave</a>
                <hr class="dropdown-divider">*@
                                    <a class="dropdown-item" href="/eCommerce/Logout">Cerrar sesión</a>
                                </div> <!--  dropdown-menu .// -->
                            </div>  <!-- widget-header .// -->
                        </div> <!-- widgets-wrap.// -->
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- container.// -->
        </section> <!-- header-main .// -->
    </header> <!-- section-header.// -->

    @RenderBody()

    <!-- ========================= FOOTER ========================= -->
    <footer class="section-footer bg2">
        <div class="container">
            <section class="footer-bottom row">
                <div class="col-sm-6" style="color:#5b5c63">
                    <p>
                        <b>DROGUERIA VARADERO S.A.</b><br>
                        Dirección: México 3002, CABA (CP: C1223ABL)<br>
                        Teléfono: (011) 4874-3434
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="text-sm-right">
                        Copyright © @DateTime.Now.Year <br>
                        <a href="http://dvaradero.com.ar/">dvaradero.com.ar</a>
                    </p>
                </div>
            </section> <!-- //footer-top -->
        </div><!-- //container -->
    </footer>
    <!-- ========================= FOOTER END // ========================= -->

    <div id="modalView" class="modal fade" role="dialog">

    </div>

    <div id="loading" style="width:100%; height:100%; position:fixed; background-color:black; top:0px; z-index:2; background-image:url(/Resources/img/loading.gif); background-position:center; background-repeat:no-repeat; background-size:20% auto; opacity:0.7; display:none;">
        <label style="position:relative; top:50%; left:50%; margin-left:-4.3rem; color:#36967b; margin-top:3.5rem; font-weight:bold;">Aguarde por favor</label>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
